<div class="container profile-container">
  <h1> Vos infos :</h1>

  <div class="profile-card">
    <h2 class="profile-name"><%= @user.first_name %> <%= @user.last_name %></h2>
    <p class="profile-address"><%= @user.address %></p>
  </div>

  <h1> Vos réservations :</h1>

</div>
