.booking-card {
  background-color: $green;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  transition: box-shadow 0.3s ease;
  margin-bottom: 60px;
}

.booking-hotel-name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

p.booking-infos  {
  font-size: 20px;
  font-weight: 400;
  color: black;

  font-style: bold;

  margin: 10px;

  text-decoration: solid;
}

h3.booking-infos {
  font-size: 16px;
  font-weight: 500;
  color: black;

  font-style: italic;
}
